pkgbase = rufin
	pkgdesc = Native GTK4 Jellyfin/Subsonic Client in Rust
	pkgver = 0.7.5
	pkgrel = 1
	url = https://github.com/screwys/Rufin
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-or-later
	makedepends = cargo
	makedepends = gettext
	makedepends = pkgconf
	depends = gcc-libs
	depends = gdk-pixbuf2
	depends = glibc
	depends = gst-libav
	depends = gst-plugins-bad
	depends = gst-plugins-base
	depends = gst-plugins-base-libs
	depends = gst-plugins-good
	depends = gst-plugins-ugly
	depends = gstreamer
	depends = gtk4
	depends = hicolor-icon-theme
	depends = libadwaita
	conflicts = rufin-git
	options = !lto
	source = rufin-0.7.5.tar.gz::https://github.com/screwys/Rufin/archive/refs/tags/v0.7.5.tar.gz
	sha256sums = eb2f35d522192b0c0b82067bd2515d5046738ce8f98c846f63a2314ff8ed0729

pkgname = rufin
