[Desktop Entry]
Name=Rufin
Comment=Reimagine your music library
Exec=rufin
Icon=io.github.screwys.Rufin
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Music;Player;
Keywords=Jellyfin;Subsonic;Navidrome;Music;GTK;Audio;Player;
StartupNotify=true
