[Desktop Entry]
Name=Rufin
Comment=Fast and light music client for music servers and local libraries
Exec=rufin
Icon=io.github.screwys.Rufin
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Music;Player;GTK;
Keywords=Jellyfin;Music;Audio;Player;
StartupNotify=true
